.result{height:65vh}
.result .tab .departmentmanagement-table tr th:first-child{width:6%}
.result .tab .departmentmanagement-table tr th:nth-child(2){width:10%;text-align:left;padding-left:20px}
.result .tab .departmentmanagement-table tr th:nth-child(3){width:28%;text-align:center}
.result .tab .departmentmanagement-table tr th:nth-child(4){width:28%;height:3rem;text-align:center}
.result .tab .departmentmanagement-table tr th:nth-child(5){width:28%;text-align:center}
.result .tab .departmentmanagement-table tr td{height:2.8rem;text-align: center;}
input::-webkit-input-placeholder{color:#999}
input::-moz-placeholder{color:#999}
input::-ms-input-placeholder{color:#999}


.cet{width: 420px;}
.red{color: #f35857;font-size: 14px;height: 30px;line-height: 30px;margin-bottom: 25px;padding-left: 90px;}
.name,.num{height: 30px;line-height: 30px;margin-bottom: 25px;}
.name > input,
.num > input{width: 330px;border: 1px solid #999;float: right;}
.icon-xingxing{font-size: 8px!important;color: #f00 !important;}
.bz>i{color: transparent !important;}

.bz > textarea{width: 330px;height:85px;border: 1px solid #999;color:#000;float: right;padding: 10px;border-radius: 5px;resize: none;}
.button{height: 30px;width: 100%;margin-top: 30px;}
.qx{display: block;height:30px;width: 90px;color:#1c7dfa;border: 1px solid #1c7dfa;border-radius: 5px;text-align: center;line-height: 30px;}
.qx:hover{cursor: pointer;}
.qr{display: block;height:30px;width: 90px;color:#fff;background-color:#1c7dfa;border-radius: 5px;margin-left: 30px;text-align: center;line-height: 30px;}
.qr:hover{cursor: pointer;}
