.box .result > .tab{height: 52vh;overflow-y: scroll;}
.box .result > .tab::-webkit-scrollbar{width: 10px;background-color: #eee;}
.box .result > .tab::-webkit-scrollbar-thumb{background-color: #bbb;}

.box .content .search .top > div{width: 100%;}
.box .cominput input[type=text]{width: 300px;}
.cominput .search-button.blu-button{float: left;height: 30px;line-height: 30px;margin-left: 15px;}



/*
.tab .tab_1 th{height: 40px;line-height: 40px;text-align: center;background-color: #efefef!important;font-size: 14px;border: 1px solid #eee;}
.tab .tab_1 td{height: 50px;line-height: 50px;text-align: center;background-color: #ffffff;font-size: 0.8rem;border: 1px solid #eee;}
.tab .tab_2 th{height: 40px;line-height: 40px;text-align: center;background-color: #edf8ff;font-size: 14px;border: 1px solid #eee;}
.tab .tab_2 td{height: 40px;line-height: 40px;text-align: center;background-color: #d2f7ff;font-size: 0.8rem;border: 1px solid #eee;}
.tab .tab_3 th{height: 40px;line-height: 40px;text-align: center;background-color: #fbede9;font-size: 14px;border: 1px solid #eee;}
.tab .tab_3 td{height: 40px;line-height: 40px;text-align: center;background-color: #fffcfb;font-size: 0.8rem;border: 1px solid #eee;}
.de{width: 110px;}
.ckb{width: 40px;color:#00479d;}
*/

.equipInfoTable{width: 100%;}
.equipInfoTable a{color: #00479d;margin: 0 3px;}
.equipInfoTable .tr:after{content: '';display: block;clear: both;}
.equipInfoTable .td,
.equipInfoTable .th{float: left;line-height: 50px;text-align: center;}
.equipInfoTable .tr:not(:last-of-type){border-bottom: 1px solid #e9e9e9;}
.equipInfoTable .td:not(:last-of-type),
.equipInfoTable .th:not(:last-of-type){border-right: 1px solid #e9e9e9;}
.equipInfoTable .th{background-color: #f4f4f4;}

.equipInfoTable .td > div{display: block;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;margin: auto;}

.equipInfoTable .level1_item,
.equipInfoTable .level2_item,
.equipInfoTable .level3_item{border-bottom: 1px solid #e9e9e9;border-left: 1px solid #e9e9e9;}

.equipInfoTable .level1_ths > .th:nth-of-type(1){width: 3%;height: 50px;}
.equipInfoTable .level1_ths > .th:nth-of-type(2){width: 9%;}
.equipInfoTable .level1_ths > .th:nth-of-type(3){width: 13%;}
.equipInfoTable .level1_ths > .th:nth-of-type(4){width: 10%;}
.equipInfoTable .level1_ths > .th:nth-of-type(5){width: 9%;}
.equipInfoTable .level1_ths > .th:nth-of-type(6){width: 12%;}
.equipInfoTable .level1_ths > .th:nth-of-type(7){width: 12%;}
.equipInfoTable .level1_ths > .th:nth-of-type(8){width: 10%;}
.equipInfoTable .level1_ths > .th:nth-of-type(9){width: 10%;}
.equipInfoTable .level1_ths > .th:nth-of-type(10){width: 6%;}
.equipInfoTable .level1_ths > .th:nth-of-type(11){width: 6%;}

.equipInfoTable .level2_ths > .th:nth-of-type(1){width: 3%;height: 50px;}
.equipInfoTable .level2_ths > .th:nth-of-type(2){width: 14%;}
.equipInfoTable .level2_ths > .th:nth-of-type(3){width: 8%;}
.equipInfoTable .level2_ths > .th:nth-of-type(4){width: 7%;}
.equipInfoTable .level2_ths > .th:nth-of-type(5){width: 10%;}
.equipInfoTable .level2_ths > .th:nth-of-type(6){width: 9%;}
.equipInfoTable .level2_ths > .th:nth-of-type(7){width: 9%;}
.equipInfoTable .level2_ths > .th:nth-of-type(8){width: 13%;}
.equipInfoTable .level2_ths > .th:nth-of-type(9){width: 13%;}
.equipInfoTable .level2_ths > .th:nth-of-type(10){width: 7%;}
.equipInfoTable .level2_ths > .th:nth-of-type(11){width: 7%;}

.equipInfoTable .level3_ths > .th:nth-of-type(1){width: 11%;height: 50px;}
.equipInfoTable .level3_ths > .th:nth-of-type(2){width: 10%;}
.equipInfoTable .level3_ths > .th:nth-of-type(3){width: 7%;}
.equipInfoTable .level3_ths > .th:nth-of-type(4){width: 10%;}
.equipInfoTable .level3_ths > .th:nth-of-type(5){width: 20%;}
.equipInfoTable .level3_ths > .th:nth-of-type(6){width: 14%;}
.equipInfoTable .level3_ths > .th:nth-of-type(7){width: 13%;}
.equipInfoTable .level3_ths > .th:nth-of-type(8){width: 6%;}
.equipInfoTable .level3_ths > .th:nth-of-type(9){width: 9%;}

.equipInfoTable .level1_itemTable > .td:first-of-type,
.equipInfoTable .level2_itemTable > .td:first-of-type{width: 3%;}
.equipInfoTable .level1_itemTable > .td:last-of-type,
.equipInfoTable .level2_itemTable > .td:last-of-type{width: 97%;}
.equipInfoTable .level3_itemTable > .td{width: 100%}

.equipInfoTable .level2_itemTable{background-color: #d2f7ff;}
.equipInfoTable .level3_itemTable{background-color: #fffcfb;}

.equipInfoTable .level1_dataItem > .td:nth-of-type(1){width: 9.2%;}
.equipInfoTable .level1_dataItem > .td:nth-of-type(2){width: 13.4%;}
.equipInfoTable .level1_dataItem > .td:nth-of-type(3){width: 10.35%;}
.equipInfoTable .level1_dataItem > .td:nth-of-type(4){width: 9.3%;}
.equipInfoTable .level1_dataItem > .td:nth-of-type(5){width: 12.35%;}
.equipInfoTable .level1_dataItem > .td:nth-of-type(6){width: 12.45%;}
.equipInfoTable .level1_dataItem > .td:nth-of-type(7){width: 10.3%;}
.equipInfoTable .level1_dataItem > .td:nth-of-type(8){width: 10.3%;}
.equipInfoTable .level1_dataItem > .td:nth-of-type(9){width: 6.2%;}
.equipInfoTable .level1_dataItem > .td:nth-of-type(10){width: 6.1%;}

.equipInfoTable .level2_dataItem > .td:nth-of-type(1){width: 14.4%;}
.equipInfoTable .level2_dataItem > .td:nth-of-type(2){width: 8.3%;}
.equipInfoTable .level2_dataItem > .td:nth-of-type(3){width: 7.2%;}
.equipInfoTable .level2_dataItem > .td:nth-of-type(4){width: 10.3%;}
.equipInfoTable .level2_dataItem > .td:nth-of-type(5){width: 9.3%;}
.equipInfoTable .level2_dataItem > .td:nth-of-type(6){width: 9.3%;}
.equipInfoTable .level2_dataItem > .td:nth-of-type(7){width: 13.4%;}
.equipInfoTable .level2_dataItem > .td:nth-of-type(8){width: 13.35%;}
.equipInfoTable .level2_dataItem > .td:nth-of-type(9){width: 7.2%;}
.equipInfoTable .level2_dataItem > .td:nth-of-type(10){width: 7.2%;}

.equipInfoTable .level3_dataItem > .td{height: 50px;}
.equipInfoTable .level3_dataItem > .td:nth-of-type(1){width: 11%;}
.equipInfoTable .level3_dataItem > .td:nth-of-type(2){width: 10%;}
.equipInfoTable .level3_dataItem > .td:nth-of-type(3){width: 7%;}
.equipInfoTable .level3_dataItem > .td:nth-of-type(4){width: 10%;}
.equipInfoTable .level3_dataItem > .td:nth-of-type(5){width: 20%;}
.equipInfoTable .level3_dataItem > .td:nth-of-type(6){width: 14%;}
.equipInfoTable .level3_dataItem > .td:nth-of-type(7){width: 13%;}
.equipInfoTable .level3_dataItem > .td:nth-of-type(8){width: 6%;}
.equipInfoTable .level3_dataItem > .td:nth-of-type(9){width: 9%;}


.icon-edit{font-size: 14px !important;}
i:hover{cursor:pointer;}


.depwd{width: 600px;top: calc(50% - 320px);left: calc(50% - 300px);}
.main .bot{width:100%;background-color: #fff;padding-top: 10px;padding-bottom: 30px;}
.t-text{font-size: 14px;color: #fff;line-height: 60px;margin-left:25px;}
.cet{width:460px;margin: 0 auto;padding-top:5px;}
.red{width:95%;margin: 0 auto;color: #f35857;font-size: 14px;height: 40px;line-height: 40px;padding-left: 25px;background-color:#ffeded;border-radius: 5px;padding-right: 0;}
.red i{margin-right:10px;}
.red span{display: block;font-size: 14px;height:40px;line-height:40px;float: right;padding-right:10px;cursor: pointer;}
.cet p{line-height: 30px;margin-bottom: 20px;}
.cet p span{text-align:right;width: 22%;}
.cet p:first-child{position: relative;padding-left: 30px;}
.cet p:first-child span:first-child{text-align:right;width:auto;}
/*.cet input[type=file]{width:60px;height: 30px;float: right;line-height: 30px;opacity: 0;position: relative;z-index: 66;}*/
.cet input[type=text]{width: 330px;height: 30px;border: 1px solid #999;float: right;}
.icon-xingxing{font-size: 8px! important;color: #ff0000! important;}
.bz>i{color: transparent! important;}
.bz > textarea{height:85px! important;border: 1px solid #999;color:#999;float: right;padding-left:10px;border-radius: 5px;padding-bottom: 60px;}
.button{height: 30px;width: 100%;margin-top: 30px;}
.qx{display: block;height:30px;width: 90px;color:#1c7dfa;border: 1px solid #1c7dfa;border-radius: 5px;text-align: center;line-height: 30px;}
.qx:hover{cursor: pointer;}
.qr{display: block;height:30px;width: 90px;color:#fff;background-color:#1c7dfa;border-radius: 5px;margin-left: 30px;text-align: center;line-height: 30px;}
.qr:hover{cursor: pointer;}
.cet .upload{display: block;position: absolute;top: 0;right: 0;width: 60px;height: 30px;text-align: center;color:#1c7dfa;cursor: pointer;}
.cet select{width: 330px;height: 30px;border: 1px solid #999;float: right;padding-left: 10px;border-radius: 3px;}
.cet .color-choose{display: block;width: 330px;height: 30px;border: 1px solid #999;color:#999;float: right;padding:0 10px;border-radius: 5px;text-align: left;}
.cet .color-choose input[type=color]{width: 20px;height: 20px;margin-top: 5px;border-radius: 5px;}
table tr td:first-child span{font-size: 1.5rem;cursor: pointer;}





/*
display: block;
width: 90%;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
margin: auto;
*/
