.result .tab .operationlog-table tr th:first-child{width:6%;}
.result .tab .operationlog-table tr th:nth-child(2){width:10%;text-align:center;}
.result .tab .operationlog-table tr th:nth-child(3){width:20%;text-align:center;}
.result .tab .operationlog-table tr th:nth-child(4){width:20%;text-align:center;}
.result .tab .operationlog-table tr th:nth-child(5){width:20%;text-align:center;}
.result .tab .operationlog-table tr th:nth-child(6){width:20%;text-align:center;}

.result .tab .operationlog-table tr td{border-bottom:1px solid #e1e6eb;border-right:1px solid #e1e6eb;height:45px;}
.result .tab .operationlog-table tr td:first-child{text-align:center;}
.result .tab .operationlog-table tr td:nth-child(2){text-align:center;color:#52d669;}
.result .tab .operationlog-table tr td:nth-child(3){text-align:center;}
.result .tab .operationlog-table tr td:nth-child(4){text-align:center;}
.result .tab .operationlog-table tr td:nth-child(5){text-align:center;}
.result .tab .operationlog-table tr td:nth-child(6){text-align:center;}

/*更改placeholder颜色*/
input::-webkit-input-placeholder {color: #999;}
input::-moz-placeholder {color: #999;}
input::-ms-input-placeholder {color: #999;}


.cet span{font-size: 14px;color: #000;line-height: 16px;max-height: 48px;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow:hidden;}
.cet span:nth-of-type(2){max-width: 75%;}
.l{display:block;text-align: right;width: 20%;margin-right: 20px;}
.cet div:first-child p{margin-bottom: 30px;}
.bz{width: 60%;text-align: justify;font-size: 14px;}
.button{height: 30px;width: 100%;margin-top: 30px;}
.qr{display: block;height:30px;width: 90px;color:#fff;background-color:#1c7dfa;border-radius: 5px;margin-left: 30px;text-align: center;line-height: 30px;}
.qr:hover{cursor: pointer;}
